[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
typings = "*"

[packages]
pyinquirer = "*"
treelib = "*"
bs4 = "*"
matplotlib = "*"
pytest = "*"
api = {editable = true,path = "."}
setuptools = "*"

[requires]
python_version = "3.6"
